<div class="container mt-5">
  <h1>Twitter Box</h1>
  <hr>
</div>

<div class="container">
  <div class="card">
    <div class="card-header">
      <form [formGroup]="form">
        <div class="form-group row">
          <div class="col-md-12">
            <input formControlName="search" type="text" class="form-control">
          </div>
        </div>
      </form>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let t of tweets | filter:searchValue">
        <p class="text-primary">@{{t.username}}</p>
        <p>{{t.message}}</p>
      </li>
    </ul>
  </div>
</div>
